In [1]:
import os
import pymysql

connection = pymysql.connect(host='localhost',
                            user=os.getenv('CF_DB_USER', 'root'),
                            password=os.getenv('MYSQL_PASS', 'pass'),
                            db=os.getenv('CF_DB', 'testcf'),
                            charset='utf8mb4',
                            cursorclass=pymysql.cursors.DictCursor)
connection.commit()
cur = connection.cursor()

In [2]:
import pandas.io.sql as sql
df_prob = sql.read_sql("select * from modification where problem_id='213B'", connection)

import pandas as pd
df_sub = pd.DataFrame([df_prob['block_type'], df_prob['node_type']]).T
df_sub

             block_type  node_type
0                  unit    comment
1                  unit       decl
2                  unit       type
3                  unit       name
4              function        for
5              function    comment
6                  unit       name
7                  unit      index
8              function       decl
9                   for    control
10                  for      block
11                 unit       expr
12             function       type
13             function       name
14             function       init
15         control init       init
16    control condition  condition
17         control incr       incr
18                  for  expr_stmt
19                  for  expr_stmt
20                  for    comment
21                 unit    literal
22             function       expr
23         control init       decl
24    control condition       expr
25         control incr       expr
26                  for       expr
27                  for       expr
28             function    literal
29         control init       type
...                 ...        ...
4378                for       expr
4379           function    literal
4380                for       name
4381           function    literal
4382           function    comment
4383           function    literal
4384           function         if
4385       if condition  condition
4386            if then       then
4387                 if       else
4388       if condition       expr
4389            if then      block
4390               else      block
4391       if condition       name
4392       if condition   operator
4393       if condition    literal
4394            if then  expr_stmt
4395           function  expr_stmt
4396            if then       expr
4397            if then       name
4398            if then   operator
4399            if then   operator
4400            if then       name
4401            if then   operator
4402            if then    literal
4403            if then   operator
4404            if then       name
4405            if then   operator
4406            if then   operator
4407            if then       name

[4408 rows x 2 columns]

In [3]:
df_prob

,idx,user_name,problem_id,file_name,node_type,parent_type,modification_type,during_competition,block_type
0,181311090100000,pparwal12,213B,pparwal12_18131109_213.src,comment,unit,INS,0,unit
1,181449760100000,behnood,213B,behnood_18144976_213.src,decl,decl_stmt,INS,0,unit
2,181449760100001,behnood,213B,behnood_18144976_213.src,type,decl,INS,0,unit
3,181449760100002,behnood,213B,behnood_18144976_213.src,name,decl,INS,0,unit
4,181449760100003,behnood,213B,behnood_18144976_213.src,for,block,INS,0,function
5,181449760100004,behnood,213B,behnood_18144976_213.src,comment,block,INS,0,function
6,181449760100005,behnood,213B,behnood_18144976_213.src,name,name,INS,0,unit
7,181449760100006,behnood,213B,behnood_18144976_213.src,index,name,INS,0,unit
8,181449760100007,behnood,213B,behnood_18144976_213.src,decl,decl_stmt,INS,0,function
9,181449760100008,behnood,213B,behnood_18144976_213.src,control,for,INS,0,for
10,181449760100009,behnood,213B,behnood_18144976_213.src,block,for,INS,0,for
11,181449760100010,behnood,213B,behnood_18144976_213.src,expr,index,INS,0,unit
12,181449760100011,behnood,213B,behnood_18144976_213.src,type,decl,INS,0,function
13,181449760100012,behnood,213B,behnood_18144976_213.src,name,decl,INS,0,function
14,181449760100013,behnood,213B,behnood_18144976_213.src,init,decl,INS,0,function
15,181449760100014,behnood,213B,behnood_18144976_213.src,init,control,INS,0,control init
16,181449760100015,behnood,213B,behnood_18144976_213.src,condition,control,INS,0,control condition
17,181449760100016,behnood,213B,behnood_18144976_213.src,incr,control,INS,0,control incr
18,181449760100017,behnood,213B,behnood_18144976_213.src,expr_stmt,block,INS,0,for
19,181449760100018,behnood,213B,behnood_18144976_213.src,expr_stmt,block,INS,0,for
20,181449760100019,behnood,213B,behnood_18144976_213.src,comment,block,INS,0,for
21,181449760100020,behnood,213B,behnood_18144976_213.src,literal,expr,INS,0,unit
22,181449760100021,behnood,213B,behnood_18144976_213.src,expr,init,INS,0,function
23,181449760100022,behnood,213B,behnood_18144976_213.src,decl,init,INS,0,control init
24,181449760100023,behnood,213B,behnood_18144976_213.src,expr,condition,INS,0,control condition
25,181449760100024,behnood,213B,behnood_18144976_213.src,expr,incr,INS,0,control incr
26,181449760100025,behnood,213B,behnood_18144976_213.src,expr,expr_stmt,INS,0,for
27,181449760100026,behnood,213B,behnood_18144976_213.src,expr,expr_stmt,INS,0,for
28,181449760100027,behnood,213B,behnood_18144976_213.src,literal,expr,INS,0,function
29,181449760100028,behnood,213B,behnood_18144976_213.src,type,decl,INS,0,control init
...,...,...,...,...,...,...,...,...,...
4378,211615570100018,vThejas,213B,vThejas_21161557_213.src,expr,index,INS,0,for
4379,211615570100019,vThejas,213B,vThejas_21161557_213.src,literal,expr,INS,0,function
4380,211615570100020,vThejas,213B,vThejas_21161557_213.src,name,expr,INS,0,for
4381,211615570100021,vThejas,213B,vThejas_21161557_213.src,literal,argument,DEL,0,function
4382,211623290200000,vThejas,213B,vThejas_21162329_213.src,comment,block,INS,0,function
4383,211623290200001,vThejas,213B,vThejas_21162329_213.src,literal,argument,INS,0,function
4384,215138050100000,Miyukine,213B,Miyukine_21513805_213.src,if,block,INS,0,function
4385,215138050100001,Miyukine,213B,Miyukine_21513805_213.src,condition,if,INS,0,if condition
4386,215138050100002,Miyukine,213B,Miyukine_21513805_213.src,then,if,INS,0,if then
4387,215138050100003,Miyukine,213B,Miyukine_21513805_213.src,else,if,INS,0,if
4388,215138050100004,Miyukine,213B,Miyukine_21513805_213.src,expr,condition,INS,0,if condition
4389,215138050100005,Miyukine,213B,Miyukine_21513805_213.src,block,then,INS,0,if then
4390,215138050100006,Miyukine,213B,Miyukine_21513805_213.src,block,else,INS,0,else
4391,215138050100007,Miyukine,213B,Miyukine_21513805_213.src,name,expr,INS,0,if condition
4392,215138050100008,Miyukine,213B,Miyukine_21513805_213.src,operator,expr,INS,0,if condition
4393,215138050100009,Miyukine,213B,Miyukine_21513805_213.src,literal,expr,INS,0,if condition
4394,215138050100010,Miyukine,213B,Miyukine_21513805_213.src,expr_stmt,block,INS,0,if then
4395,215138050100011,Miyukine,213B,Miyukine_21513805_213.src,expr_stmt,block,MOV,0,function
4396,215138050100012,Miyukine,213B,Miyukine_21513805_213.src,expr,expr_stmt,INS,0,if then
4397,215138050100013,Miyukine,213B,Miyukine_21513805_213.src,name,expr,INS,0,if then
4398,215138050100014,Miyukine,213B,Miyukine_21513805_213.src,operator,expr,INS,0,if then
4399,215138050100015,Miyukine,213B,Miyukine_21513805_213.src,operator,expr,INS,0,if then
4400,215138050100016,Miyukine,213B,Miyukine_21513805_213.src,name,expr,INS,0,if then
4401,215138050100017,Miyukine,213B,Miyukine_21513805_213.src,operator,expr,INS,0,if then
4402,215138050100018,Miyukine,213B,Miyukine_21513805_213.src,literal,expr,INS,0,if then
4403,215138050100019,Miyukine,213B,Miyukine_21513805_213.src,operator,expr,INS,0,if then
4404,215138050100020,Miyukine,213B,Miyukine_21513805_213.src,name,expr,INS,0,if then
4405,215138050100021,Miyukine,213B,Miyukine_21513805_213.src,operator,expr,INS,0,if then
4406,215138050100022,Miyukine,213B,Miyukine_21513805_213.src,operator,expr,INS,0,if then
4407,215138050100023,Miyukine,213B,Miyukine_21513805_213.src,name,expr,INS,0,if then

In [7]:
df_prob['user_name'].unique().size

23

In [8]:
df_prob['file_name'].unique().size

50

In [9]:
grouped = df_prob.groupby(['block_type', 'node_type']).size()
grouped

block_type         node_type
control condition  argument_list       1
                   call                1
                   condition          42
                   expr               42
                   index               1
                   literal            26
                   name               79
                   operator           48
control incr       expr               40
                   incr               41
                   name               40
                   operator           41
control init       argument_list       1
                   call                1
                   decl               39
                   expr               42
                   index               7
                   init               79
                   literal            41
                   name              115
                   operator            8
                   type               38
else               argument            6
                   argument_list       2
                   block              10
                   comment             1
                   decl                2
                   decl_stmt           2
                   expr               11
                   expr_stmt           7
                                    ...
unit               function           10
                   index              27
                   init                8
                   literal            57
                   macro              14
                   name              138
                   operator           18
                   parameter          10
                   parameter_list      4
                   specifier           2
                   type               44
                   typedef             3
                   value              14
while              argument            5
                   argument_list       3
                   block               2
                   call                1
                   decl                1
                   decl_stmt           1
                   expr               10
                   expr_stmt           4
                   for                 1
                   index               1
                   name               14
                   operator            1
                   type                1
while condition    condition           2
                   expr                1
                   name                1
                   operator            1
dtype: int64